<p id="notice"><%= notice %></p>

<p>
	<b>Title:</b>
	<%= @event.title %>
</p>

<p>
	<b>Starts at:</b>
	<%= @event.start %>
</p>

<p>
	<b>Description:</b>
	<%= @event.description %>
</p>

<p>
	<b>Repeat:</b>
	<%= @event.repeat %>
</p>

<%= link_to 'Edit', edit_event_path(@event), class: 'btn btn-primary' %>
<%= link_to 'Delete', event_path, :method => :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-primary' %>


