<h1>All events</h1>
<div class='form-inline'>
  <%= link_to "My events", preview_path, class: 'btn btn-primary' %>
  <%= link_to "New event", new_event_path, class: 'btn btn-primary' %>
  <%= link_to "log out", destroy_user_session_path, :method => :delete, class: 'btn btn-primary' %>
  <%= link_to "Edit profile", edit_user_registration_path, class: 'btn btn-primary' %>
</div>
<br>
  <div id='calendar'>
   <%= javascript_tag do %>
   $(document).ready(function() 
   {
   $('#calendar').fullCalendar(
   {
   events: '/api/events/index',
   header: {
   left: 'prev,next today',
   center: 'title',
   right: 'month,basicWeek,basicDay'
 },
 navLinks: true			
});
});
<%  end %>
</div>


