<h1>All events</h1>
<%= form_tag("/search", method: "get") do %>
<%= label_tag(:q, "Search for:") %>
<%= text_field_tag(:q) %>
<%= submit_tag("Search", class: 'btn btn-primary')%>
<% end %>

<div id='calendar'>
	<%= javascript_tag do %>
	$(document).ready(function() 
    {
	    $('#calendar').fullCalendar(
        {
	        events: '/api/events/index',
	        header: {
          left: 'prev,next today',
          center: 'title',
          right: 'month,basicWeek,basicDay'
                  },
      navLinks: true			
        });
    });
<%  end %>
</div>
